
*{
    padding: 0;
    margin: 0;
}
html {height:100%}
body {
margin:0;
height:100%;
overflow:hidden
}
header{
    background-color: black;
    height: 5rem;
}
#logojuego{
    display: block;
    margin-left: 7.5rem;
    margin-right: auto;
    width: 200px;
}
.creditos{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border: none;
    cursor: none;
    outline: none;
    border-radius: 20%;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3) inset;
    -moz-box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3) inset;
    -o-box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3) inset;
    -ms-box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3) inset;
}
.creditos img{
    height: 50px;
}