
*{
    padding: 0;
    margin: 0;
}
html {height:100%}
body {
margin:0;
height:100%;
overflow:hidden
}
header{
    background-color: black;
    height: 8rem;
}
#logojuego{
    height: 5.625rem;
    width: 18.125rem;
    margin-right: 1rem;
    margin-top: 1rem;
    float:right;
}